<section class="image-section">
    <div class="image-container">
        <img src="assets/images/Fast Goods.png" alt="About FastGoods" class="responsive-image">
        <div class="text-overlay">Welcome to Fast Goods</div>
    </div>
    <div class="image-container">
        <img src="assets/images/1968.jpg" alt="Connections Around the World" class="responsive-image">
        <div class="text-overlay">Our Global Connections</div>
    </div>
    <div class="image-container">
        <img src="assets/images/containers.jpg" alt="Unloading Cargos" class="responsive-image">
        <div class="text-overlay">Unloading Cargos from Ships</div>
    </div>
</section>
