<header>
    <h1>
        <span class="fast">Fast</span>
        <span class="goods">Goods</span>
    </h1>
    <p>Your Trusted Partner in Global Trade and Export Solutions</p>
    <nav>
        <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/about-us" routerLinkActive="active-link">About Us</a>
        <a routerLink="/products" routerLinkActive="active-link">Products</a>
        <a routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
    </nav>    
</header>
